.presentation-info {
  margin-bottom: 50px;
}

.user-info {
  margin-bottom: 50px;

  text-align: center;

  width: 350px;

  &__avatar {
    width: 200px;
    height: 200px;

    margin-bottom: 10px;

    border-radius: 100%;
  }

  &__description {
    text-align: center;
  }

  &__name {
    font-weight: 700;

    margin-right: 10px;
  }

  &__location {
    color: #7a7a7a;
  }
}